{% extends 'layouts/base-admin.html.twig' %}
{% block title %}Configurações{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><span><a href="{{ path('app_admin') }}">Dashboard</a></span></li>
    <li class="breadcrumb-item active"><span>Configurações</span></li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body p-4">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="card-title fs-4 fs-semibold">Configurações</div>
                            <div class="card-subtitle text-disabled mb-4">Em breve, mais informações!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
