.form-error > ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.padding-input-type-file {
    padding: 33px 0 0 10px !important;
}

.padding-label-type-file {
    padding: 12px !important;
}

.height-200 {
    height: 200px !important;
}

ul li.dashed {
    list-style-type: "- ";
}

.icon-eye-password {
    position: absolute;
    right: 18px;
    top: 22px;
    cursor: pointer;
    color: #999;
}

.avatar-on-list {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #eee;
}

.box-image-pet {
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 50%;
}

.custom-info-popover {
    --cui-popover-max-width: 200px;
    --cui-popover-border-color: var(--cui-info);
    --cui-popover-header-bg: var(--cui-info);
    --cui-popover-header-color: var(--cui-white);
    --cui-popover-body-padding-x: 1rem;
    --cui-popover-body-padding-y: .5rem;
}

.nav-icon-bullet {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: transparent;
    text-align: center;
    border: 1px solid #aaa;
    margin-left: 20px;
    border-radius: 50%;
}

button.dropdown-toggle {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    color: #333 !important;
}
