<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redefinição de senha realizada com sucesso</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }
            .container {
                max-width: 100%;
                margin: 0 auto;
                padding: 20px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            .header {
                background-color: #f9b115;
                padding: 20px;
                text-align: center;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                color: #fff;
            }
            .header img {
                width: 80px;
                height: auto;
            }
            .btn {
                display: inline-block;
                background-color: #f9b115;
                color: #ffffff;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all 0.2s;
            }
            .text-white {
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <svg width="32" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" version="1.1" viewBox="0 0 101 125" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M77.471,105.399c4.4,0 8,-3.6 8,-8l0,-41.2c0,-4.4 -3.6,-8 -8,-8l-3.5,0l0,-12.6c0,-8.8 -7.2,-16 -16,-16l-15,0c-8.8,0 -16,7.2 -16,16l0,12.6l-3.5,0c-4.4,0 -8,3.6 -8,8l0,41.2c0,4.4 3.6,8 8,8l54,0Zm-42.5,-69.8c0,-4.4 3.6,-8 8,-8l15,0c4.4,0 8,3.6 8,8l0,12.6l-31,0l0,-12.6Z" style="fill:#fcc51d;fill-rule:nonzero;"/><clipPath id="_clip1"><path clip-rule="nonzero" d="M77.471,105.399c4.4,0 8,-3.6 8,-8l0,-41.2c0,-4.4 -3.6,-8 -8,-8l-3.5,0l0,-12.6c0,-8.8 -7.2,-16 -16,-16l-15,0c-8.8,0 -16,7.2 -16,16l0,12.6l-3.5,0c-4.4,0 -8,3.6 -8,8l0,41.2c0,4.4 3.6,8 8,8l54,0Zm-42.5,-69.8c0,-4.4 3.6,-8 8,-8l15,0c4.4,0 8,3.6 8,8l0,12.6l-31,0l0,-12.6Z"/></clipPath><g clip-path="url(#_clip1)"><rect height="57.2" style="fill:#020000;fill-opacity:0.25;" width="36" x="50.471" y="48.199"/><rect height="28.8" style="fill:#020000;fill-opacity:0.5;" width="24" x="26.471" y="19.399"/><rect height="28.8" style="fill:#020000;fill-opacity:0.75;" width="24" x="50.471" y="19.399"/></g><rect height="14" style="fill:#7f630f;" width="8" x="46.471" y="76.699"/><rect height="14" style="fill:#020000;fill-opacity:0.5;" width="4" x="50.471" y="76.699"/><path d="M22.724,101.949c-2.047,-0.007 -3.703,-1.669 -3.703,-3.716c0,-1.7 0,-3.344 0,-3.344c0,0 0.382,1.164 0.774,2.359c0.534,1.625 1.762,2.928 3.351,3.557c1.423,0.563 2.922,1.155 2.922,1.155c0,0 -1.644,-0.005 -3.344,-0.011Z" style="fill:#fff;fill-opacity:0.5;"/></g><path d="M19.102,90.694c0,0 0.067,-25.428 0.091,-34.417c0.005,-1.715 1.396,-3.103 3.111,-3.103c0.548,0 0.947,0 0.947,0l-4.149,37.52Z" style="fill:#fff;fill-opacity:0.5;fill-rule:nonzero;"/><path d="M29.102,41.694c0,0 0.038,-4.007 0.067,-7.033c0.021,-2.152 0.715,-4.244 1.984,-5.982c0.596,-0.817 1.098,-1.505 1.098,-1.505c-1.807,4.756 -2.081,7.454 -3.149,14.52Z" style="fill:#fff;fill-opacity:0.25;fill-rule:nonzero;"/></svg>
            </div>
            <h1>Sua senha foi redefinida com sucesso</h1>
            <p>Olá {{ user.username }}!</p>
            <p>Sua redefinição de senha do Pets<b>Control</b> foi finalizada com sucesso.</p>
            <p>Se você ficou com alguma dúvida, não deixe de entrar em contato conosco no <a href="mailto:pets@gustakoch.com.br">pets@gustakoch.com.br</a>.</p>
            <p>
                Atenciosamente, <br />
                Equipe Pets<b>Control</b>
            </p>
        </div>
    </body>
</html>
