<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Pets | Erro interno no servidor</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f8f8f8;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            .error-container {
                text-align: center;
            }
            .error-image {
                max-width: 100%;
                height: auto;
            }
            p {
                margin-top: 20px;
                font-size: 18px;
                color: #555;
            }
            a {
                color: #007bff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="error-container">
            <img class="shadow-lg error-image" src="{{ asset('images/errors/500.jpg') }}" />
            <p class="h2 mt-4">Hmm, ocorreu um erro interno no servidor!</p>
            <p class="lead">Estamos trabalhando para resolver o problema. Por favor, tente novamente mais tarde.</p>
            <p class="lead"><a href="{{ path('app_admin') }}">Clique aqui</a> para voltar a página inicial.</p>
        </div>
    </body>
</html>
